# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/

# Saved models
backend/models/*.pkl
backend/models/*.joblib